* {
  min-width: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: system-ui, sans-serif;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgb(148, 0, 211)) no-repeat fixed;
  background-size: cover;
}

header {
  position: sticky;
  top: 0;
  z-index: -100;
  background: linear-gradient(to bottom, #9400D3 0%, rgba(148, 0, 211, 0) 50%, rgba(148, 0, 211, 0) 100%);
  height: 22em;
}

#header-box {
  height: 20em;
  padding:1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.5s;
}

#icon {
  display: none;
}

#title {
  color: #3d004f;
  letter-spacing: -0.04em;
  text-align: center;
  font-size: 4em;
  width: 6em;
  margin: auto ;
  max-width: 90vw;
}

.fat {
  font-weight: bolder;
  font-size: 1.1em;
}

main {
  width: 50vw;
  max-width: 80vw;
  min-width: 500px;
  margin: 2em auto;
  padding: 1em 2%;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  border: 0.2vw outset rgba(255, 255, 255, 0.3);
  font-weight: 450;
 }

section {
  margin-bottom: 20px;
}

h2, a{
  color: #9400D3;
}

footer{
  color: #212121;
  font-size: x-small;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*IPHONE*/
@media only screen and (max-device-width: 500px) {
  header {
    background: linear-gradient(to bottom, #9400D3 0%, rgba(148, 0, 211, 0) 50%);
    height: fit-content;
  }

  #header-box {
    height: fit-content;
  }

  #title {
    letter-spacing: -0.06em;
    font-size: 3em;
    width: 90vw;
    min-width: 0;
    max-width: 100vw;
  }

  main {
    width: 80vw;
    min-width: 0;
    max-width: 100vw;
    margin: auto;
    padding: 5vw;
    border-radius: 8px;
    border: 0.5vw outset rgba(255, 255, 255, 0.3);
  }

  section {
    margin-bottom: 0;
  }

  h2, a, p{
    margin: auto;
  }

  footer{
    text-align: center;
    position: inherit;
    padding: 1em;
  }
}