* {
  min-width: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: system-ui, sans-serif;
  font-weight: 450;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgb(148, 0, 211)) no-repeat fixed;
  background-size: cover;
}

header {
  background: linear-gradient(to bottom, #9400D3 0%, rgba(148, 0, 211, 0) 50%, rgba(148, 0, 211, 0) 100%);
  padding: 1em;
}

#header-box {
  color: #212121;
  width: 80vw;
  max-width: 1200px;
  min-width: 500px;
  margin:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  font-size: 5em;
  letter-spacing: -0.04em;
  width: 6em;
}

#icon {
  background: #9400D3;
  background: radial-gradient(circle, rgba(148, 0, 211, 0) 20%, #9400D3 100%);
  //color: white;
  width: min(1.5em, 13vw);
  height: min(1.5em, 13vw);
  border-radius: 100%;
  border: 0.06em solid ;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: min(5em, 10vw);
  font-weight: 420;
  letter-spacing: -0.05em;
  margin-right: min(1em, 5vw);
  margin-top: min(1em, 10vh);
}

main {
  width: 80vw;
  max-width: 1200px;
  min-width: 500px;
  margin: 2em auto;
  padding: 1em 2%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  border: 0.2vw outset rgba(255, 255, 255, 0.3);
 }

section {
  margin-bottom: 20px;
}

h2, a{
  color: #9400D3;
}

footer{
  color: #212121;
  font-size: x-small;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*PHONE*/
@media only screen and (max-device-width: 500px) {
  header {
    background: linear-gradient(to bottom, #9400D3 0%, rgba(148, 0, 211, 0) 50%);
    padding: 0;
  }

  #header-box {
    color: #212121;
    width: 90vw;
    min-width: 0;
    max-width: 100vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #title {
    font-size: 2em;
    letter-spacing: -0.06em;
    width: 6em;
  }

  #icon {
    background: #9400D3;
    background: radial-gradient(circle, rgba(148, 0, 211, 0) 20%, #9400D3 100%);
  //color: white;
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: 420;
    letter-spacing: -0.05em;
    margin: 0.1em;
  }

  main {
    width: 90vw;
    min-width: 0;
    max-width: 100vw;
    margin: auto;
    padding: 1em 2%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    border: 0.5vw outset rgba(255, 255, 255, 0.3);
  }

  section {
    margin-bottom: 20px;
  }

  footer{
    text-align: center;
    position: inherit;
    padding: 1em;
  }
}